* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightcyan;
    margin:0px;
    padding:0px;
}

.header {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    justify-content: space-between;
    border: solid rgba(0, 0, 128, 0.178) 0px;
    color: black;
    flex-wrap: wrap;
    background-color: darkslategrey
}

.header h1 {
    justify-content: space-between;
    background-color: burlywood;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("../images/IMG-0823\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    padding: 0 20px 20px 0;
    align-items: flex-end;
    display: flex;
}

.sub {
    color:red;
    background-color: greenyellow;
    padding: 10px;
    right: 100px;
    position: absolute;
    border: 2px solid green;
}

.main {
  margin-left: 400px;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding:10px;
  flex:1;
  flex-wrap: wrap;
  border-left: 3px solid black;
}

.card img {
    display: flex;
    height: 300px;
    width: 400px;
    margin-left: -30px;
    padding:40px;
}


.code img {
    width:750px;
    height: 300px;
    margin-left: 10px;
}

.container {
 display:flex;
 border-left: 3px solid black;
 margin-left: 400px;
 flex:3;
 padding: 10px;
 position: relative;
 }



.about {
    position:absolute;
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    padding-top: 40px;
    padding-right: 2%;
    right: 860px;
}


.contact {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    flex: 1;
    padding-top: 50px;
    padding-right: 6.05%;
}

.repo {
    position: absolute;
    bottom: 615px;
    right: 703px;
    background-color: greenyellow;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold; 
    padding-block: 20px;
    border: 2px solid green
}
.calc {
position: absolute;
 bottom: 350px;
 right: 343px;
 background-color: greenyellow;
 color: black;
 padding-left: 20px;
 padding-right: 20px;
 font-weight: bold;
 padding-block: 20px;
 border: 2px solid green;
}

.hard {
position: absolute;
 bottom: 350px;
 right: 717px;
 background-color: greenyellow;
 color: black;
 padding-left: 20px;
 padding-right: 20px;
 font-weight: bold;
 padding-block: 20px;
 border: 2px solid green;
}

.pastel {
    position: absolute;
    bottom: 50px;
    right: 690px;
    background-color: greenyellow;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    padding-block: 20px;
    border: 2px solid green;
}

.buddy {
 position: absolute;
 bottom: 50px;
 right: 339px;
 background-color: greenyellow;
 color: black;
 padding-left: 20px;
 padding-right: 20px;
 font-weight: bold;
 padding-block: 20px;
 border: 2px solid green;

}

.row {
     display: flex;
     flex-wrap: wrap;
     margin-left: 0px;
     position: relative;
}

.goat ul li {
    padding: 20px;
    margin-left: 100px;
    align-items:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    flex-wrap: wrap;
    border-left: 3px solid black;
}


@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}