* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightcyan;
    margin:0px;
    padding:0px;
}

.header {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    justify-content: space-between;
    border: solid rgba(0, 0, 128, 0.178) 0px;
    color: black;
    flex-wrap: wrap;
    background-color: darkslategrey
}

.header h1 {
    justify-content: space-between;
    background-color: burlywood;
}

.hero {
    height: 300px;
    width: 100%;
    background-image: url("../images/IMG-0823\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    padding: 0 20px 20px 0;
    align-items: flex-end;
    display: flex;
}

.hero h2 {
    margin-left: 80%px;
    color:red;
    background-color: white;
    padding: 20px;
}

.main {
  margin-left: 400px;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding:20px;
  flex:3;
  flex-wrap: wrap;
  border-left: 3px solid black;
}

div img {
    display: flex;
    height: 300px;
    width: 400px;
    margin-left: -55px;
    padding:40px;
    flex-wrap: wrap;

}
.code img {
    width:750px;
    height: 400px;
    margin-left: -55px;
}

.container {
 display:flex;
 border-left: 3px solid black;
 margin-left: 400px;
 flex:3;
 padding: 10px;
 }


.about {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    flex: 1;
    padding-top: 40px;
    padding-right: 6.05%;
}

.work {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    flex:12
    padding-top: 40px;
    padding-right:100%;
    
}

.contact {
    text-align: left;
    font-size: 2em;
    font-weight: 100;
    flex: 1;
    padding-top: 50px;
    padding-right: 6.05%;
}

.buddy {
    text-align: left;
    background-color: seagreen;
    font-size: 20px;
    font-weight: bold;
}

.row {
     display: flex;
     flex-wrap: wrap;
     margin-left: 0px;
}

